
<div class='inputBox @errorClass' style='@style'>
    <input id='@name' name='@name' type='@type' @bind='@value' class='inputElement' />
    <label for='@name' class='label'>@label</label>
    <span class='error-text'>@errorMessage</span>
</div>

@code {
    [Parameter]
    public string name { get; set; }
    [Parameter]
    public string label { get; set; }
    [Parameter]
    public string value { get; set; }
    [Parameter]
    public string errorMessage { get; set; } = "";
    [Parameter]
    public string style { get; set; }
    [Parameter]
    public string type { get; set; } = "text";

    private string borderColor
    { get
        {
            return (errorMessage != ""? "redBorder":"blackBorder");
        }
    }
    private string errorClass
    {
        get
        {
            return (errorMessage != "" ? "error" : "");
        }
    }

}
