@using BlazorCitylife.Models
@using BlazorCitylife.Data
@inject CitylifeDBService  cityLifeDB
@inject NavigationManager NavigationManager
<div class="top-row pl-4 navbar navbar-dark">

    @if (cityLifeDB.UserIsLoggedin)
    {
        <a class="navbar-brand" href="">@cityLifeDB.UserName</a>
        <btn class="navbar-brand" style="cursor:pointer" @onclick="LogoutClicked">Logout</btn>
    }
    else
    {
        <a class="navbar-brand" href="/S10login">Login</a>
    }
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="s10login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="s21dashboard">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override void OnInitialized()
    {
        cityLifeDB.NavMenuComponent = this;
        base.OnInitialized();
    }
    public void ReRender()
    {
        this.StateHasChanged();
    }
    public void LogoutClicked()
    {
        cityLifeDB.LoggedinUser = null;
        NavigationManager.NavigateTo("S10login");
    }
}
